$grid__cols: 12;

@for $i from 1 through $grid__cols {
  .col--#{$i} {
    width: (100 / ($grid__cols / $i) ) * 1%;
    padding: 20px;
    &:first-child(1) { padding-left: 0; }
    &:nth-child(#{$i}n) { padding-right: 0; }
    &:nth-child(#{$i}n + 1) { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}

.container {
  @include container;
  padding: 60px 15px;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.col {
  width: 50%;
  margin: 0 20px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

// padding marging helpers
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px !important
  }
  .p-#{$space} {
    padding: #{$space}px !important;
  }
}
