img {
  display: block;
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: left;
  margin: -15px 30px 5px 0;

  @include mediaSize(676px, 320px) {
    float: inherit;
    margin: 30px auto;
  }
}

.alignright {
  float: right;
  margin: -15px 0 5px 30px;

  @include mediaSize(676px, 320px) {
    float: inherit;
    margin: 30px auto;
  }
}

.aligncenter {
  margin: 30px auto;

  @include mediaSize(676px, 320px) {
    float: inherit;
    margin: 30px auto;
  }
}