a {
  position: relative;
  padding: 1px 0;
  font-weight: 600;
  text-decoration: none;
  color: $color__prim;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    border-radius: 2px;
    background-color: $color__prim;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {

    &:after {
      width: 100%;
    }
  }

  &:focus {
    outline: none;
  }
}