// media size (mmedia query)
@mixin mediaSize($maxMediaSize, $minMediaSize) {
  @media screen and (max-width: $maxMediaSize) and (min-width: $minMediaSize) {
    @content;
  }
}

// container
@mixin container($display: block, $position: relative, $maxWidth: 1180px, $width: 100%, $padding: 0 15px, $margin: 0 auto) {
  display: $display;
  position: $position;
  max-width: $maxWidth;
  width: $width;
  padding: $padding;
  margin: $margin;
}

// overlay
@mixin overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.75) 100%);
}

// gradient
@mixin gradient($direction: right, $startColor: $gradient__primary, $endColor: $gradient__secondary) {
  background: $startColor;
  background: linear-gradient(to $direction, $startColor 0%,$endColor 100%);
}