@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

// transform to rem
@function remItem($size, $base: $text__size) {
	@return ($size / $base) * 1rem;
};

body {
	font-family: 'Roboto', sans-serif;
	font-size: remItem(14);
	line-height: 1.45;
	color: $color__text;
}

h1 {
	font-size: remItem(56);
	line-height: 1;
}

h2 {
	margin: 0 0 30px;
	font-size: remItem(32);
	font-weight: 900;
	line-height: 1.275;
	color: $color__prim;

	span {
		font-weight: 300;
		color: lighten($color__back, 50);
	}
}

p {
	margin-bottom: 20px;
	line-height: 1.645;

	&.right {
		text-align: right;
	}

	&.center {
		text-align: center;
	}

	@include mediaSize(676px, 320px) {
		line-height: 1.645;
	}
}

hr {
	width: 100%;
	height: 1px;
	margin: 30px 0;
	border: 0;
	clear: both;
	background-color: darken($color__back, 3)
}

.title {
	max-width: 400px;
	margin: 0 0 45px;
	font-size: remItem(22);
	font-weight: 500;
	line-height: 1.645;
	letter-spacing: 0.215em;
	text-transform: uppercase;
	color: $color__text;

  @include mediaSize(676px, 320px) {
		margin: 0 auto 45px;
		float: inherit;
		text-align: center;
  }

	span {
		display: block;
	}

	@include mediaSize(991px, 320px) {
    font-size: remItem(18);
  }
}

.center {
	text-align: center;
}