// colors
$color__prim	          : #DBBE00;
$color__back            : #2A2A2A;

$color__text            : #FFFFFF;

$gradient__primary      : #56A2DC;
$gradient__secondary    : #60C2DB;

// font
$text__default          : 'Roboto', sans-serif;
$text__title            : 'Roboto Slab', serif;
$text__color            : $color__text;
$text__size             : 16 !default;
$text__line             : 20 !default;
$text__margin           : 0 0 20 !default;

/// layout
$width                  : 1080px;