.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 2px;
  font-size: remItem(14);
  font-weight: 900;
  text-transform: uppercase;
  color: $color__back;
  background-color: $color__prim;
  transition: all .3s ease;

  &:hover {
    background-color: lighten($color__prim, 20);
    
    &:after {
      display: none;
    }
  }
}