<template>
  <div class="about pt-60">
    <div class="container">
      <h1>cursos /slash</h1>
      <h2>Lista todos os cursos</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, beatae adipisci debitis aut libero, nisi impedit vel rem laborum eaque laboriosam, quam ducimus sit! Corrupti sint harum magnam earum vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illum beatae dicta magnam, at eius. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et natus sunt doloribus, delectus inventore eius earum magnam autem quisquam molestiae quas qui, amet commodi at. Aliquid, aspernatur ut. Ab minima excepturi nobis? Asperiores, illo delectus. Sint et laboriosam rerum odit placeat error, officiis praesentium, ea, nihil delectus laudantium explicabo reprehenderit. Reiciendis illo commodi, consequatur quibusdam, vel iusto amet at provident nihil in ea placeat omnis velit, numquam aliquam sunt pariatur adipisci? Quia minima esse natus, nesciunt excepturi ex, hic, unde impedit dolorem facere suscipit ratione. Quo optio animi distinctio cupiditate repellendus odit velit, delectus cum quisquam quibusdam voluptate? Dolorem.</p>
      <hr>
      <slash-courses/>
    </div>
  </div>
</template>

<script>
  // import Hero  from '@/components/courses/Hero'
  import CoursesList  from '@/components/common/CoursesList'

  export default {
    name: 'Courses',

    components: {
      'slash-courses': CoursesList
    }
  }
</script>