<template>
  <main class="courses">
    <slash-herocourse v-if="course" :title="course[0].title" :desc="course[0].description" :slug="course[0].course_slug" :bg="course[0].logo_url"/>
    <div class="container">
      <pre>{{course}}</pre>
    </div>
  </main>
</template>

<script>
  import { api } from '@/services'
  import HeroCourse from '@/components/courses/HeroCourse'

  export default {
    name: 'Course',

    components: {
      'slash-herocourse': HeroCourse
    },
    
    data() {
      return {
        course: null,
        courses: null,
        courseName: this.$route.params.course
      }
    },

    created() {
      api.get('/courses')
        .then(response => {
          this.courses = response.data
        })
        .then(() => {
          let name = this.courseName
          this.course = this.courses.filter(function (element) {
            return element.course_slug === name
          })
        })
    }
  }
</script>