<template>
  <main>
    <slash-hero/>
    <div class="container">
      <h2 class="subtitle">/series <span>/momentos da vida</span></h2>
      <slash-courses/>
    </div>
  </main>
</template>

<script>
  import Hero  from '@/components/home/Hero'
  import CoursesList  from '@/components/common/CoursesList'

  export default {
    name: 'home',

    components: {
      'slash-hero': Hero,
      'slash-courses': CoursesList
    }
  }
</script>
