.courses {

  &__wrapper { 
    display: flex; 
    margin: 0 -15px;
  }

  &__item {
    position: relative;
    width: calc(33.333% - 30px);
    height: 240px;
    padding: 20px;
    margin: 0 15px 30px 15px;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0);
    transition: all .2s ease;

    &:before { @include overlay; }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 16px 0 rgba(0,0,0,0.45);

      .courses__text {
        bottom: 20px;
      }
    }
  }

  &__text {
    position: absolute;
    max-width: 300px;
    bottom: -15px;
    transition: all .2s ease;
  }

  &__title {
    font-size: remItem(24);
    font-weight: 900;
    color: $color__text;
  }
  
  &__about {
    font-size: remItem(12);
    font-weight: 900;
    color: lighten($color__back, 50);
  }

  &__meta {
    display: flex;
    list-style: none;
  }

  &__meta-item {
    position: relative;
    padding: 15px 10px 0 18px;
    margin: 0;
    font-size: remItem(12);
    line-height: 1;
    text-transform: lowercase;
    color: $color__text;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      left: 0;
      top: 14px;
      background-repeat: no-repeat;
      background-size: 14px;

    }

    &:nth-child(1) {

      &:before {
        background-image: url(../images/ico-play.svg);
      }
    }

    &:nth-child(2) {

      &:before {
        background-image: url(../images/ico-clock.svg);
      }
    }

    &:nth-child(3) {
      padding: 15px 0 0 13px;

      &:before {
        background-size: 10px;
        background-position: center left;
        background-image: url(../images/ico-slash.svg);
      }
    }
  }

  @include mediaSize(991px, 320px) {
    
    &__wrapper {
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - 30px);
      
      &:nth-child(1) {
        width: 100%;
      }
    }
    
  }
  
  @include mediaSize(767px, 320px) {

    &__item {
      width: 100%;
      height: 280px;
    }
  }
}