.footer {
  padding: 80px 0;
  background-color: darken($color__back, 5);

  &__wrapper {
    @include container;
  }

  &__title {
    width: 200px;
    height: 25px;
    line-height: 1;
    font-size: 0;
    background-image: url(../images/logo-slash.png);
    background-repeat: no-repeat;
    background-size: 200px;
  }

  // defautls
  p { color: lighten($color__back, 50); }

  // nav
  .nav {

    &__list {
      list-style: none;
    }

    &__item {
      padding: 10px 10px 0 0;
      text-transform: lowercase;
    }

    &__link {
      color: $color__text;

      &:before {
        content: '/';
        position: absolute;
        top: -4px;
        left: -6px;
        font-size: remItem(18);
        font-weight: 900;
        color: $color__prim;
      }
    }
  }
}