.hero {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 720px;
  padding: 80px 0;
  background-size: cover;
  background-position: center top;

  &:before { @include overlay; }
  
  &__wrapper {
    @include container;
  }

  &__text {
    max-width: 580px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__about {
    margin-bottom: 40px;
    font-size: remItem(16);
    font-weight: 900;
    color: lighten($color__back, 50);
  }
}