.nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  
  &__wrapper {
    @include container;
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item {
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }

  &__logo {
    width: 235px;
    height: 30px;
    font-size: 0;
    text-indent: -1000px;
    overflow: hidden;
    background-image: url(../images/logo-slash.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}