<template>
  <section class="hero" style="background-image: url(https://media.eadbox.com/system/uploads/featured_banner_item/image/5ce56907f64425003da77c4b/hero.jpg)">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="hero__title">Educação para todos os momentos da vida</h1>
        <p class="hero__about">Cursos livres, temáticas variadas e metodologia que mistura superior skills (inspirações), hard skills (técnicas) e soft skills (comportamentos) criada 100% no Vale da PUCPR.</p>
        <a href="#" class="btn">Saiba mais</a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Hero'
  }
</script>