<template>
  <section class="hero" :style="`background-image:url(${bg})`">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="hero__title" v-text="title"></h1>
        <p class="hero__about" v-text="desc"></p>
        <a :href="`http://slash.eadbox.com/student/courses/${slug}/payment/new`" class="btn">Matricule-se já!</a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'HeroCourse',

    props: {
      title: String,
      desc: String,
      slug: String,
      bg: String
    }
  }
</script>