<template>
  <section class="courses">
    <div class="courses__wrapper">
      <router-link class="courses__item" v-for="course in courses" :key="course.id" :to="`/cursos/${course.course_slug}`" :style="`background-image:url(${course.logo_url})`">
        <div class="courses__text">
          <h3 class="courses__title" v-text="course.title"></h3>
          <span class="courses__about" v-text="course.description"></span>
          <ul class="courses__meta" v-if="course.topics || course.workload || course.category">
            <li class="courses__meta-item" v-if="course.topics">{{course.topics.length}} aulas</li>
            <li class="courses__meta-item" v-if="course.workload">{{course.workload * 60}} mins</li>
            <li class="courses__meta-item" v-if="course.category" v-text="course.category.title"></li>
          </ul>
        </div>
      </router-link>
    </div>
  </section>
</template>

<script>
  import { api } from '@/services'

  export default {
    name: 'CoursesList',

    data() {
      return {
        courses: null
      }
    },

    created() {
      api.get('/courses')
        .then(response => {
          this.courses = response.data
        })
    }
  }
</script>