<template>
  <footer class="footer">
    <div class="footer__wrapper">
      <div class="col--4">
        <h2 class="footer__title">Slash/Education</h2>
        <p>Pellentesque congue vestibulum magna, quis tincidunt magna viverra sedPellentesque congue vestibulum magna.</p>
        <hr>
        <slash-navlist/>
      </div>
    </div>
  </footer>
</template>

<script>
  import NavList from '@/components/common/NavList'
  
  export default {
    name: 'Footer',

    components: {
      'slash-navlist': NavList
    }
  }
</script>