<template>
  <nav class="nav">
    <div class="nav__wrapper">
      <router-link to="/" class="nav__logo">Slash/Education</router-link>
      <slash-navlist/>
    </div>
  </nav>  
</template>

<script>
  import NavList from '@/components/common/NavList'

  export default {
    name: 'Nav',

    components: {
      'slash-navlist': NavList
    }
  }
</script>