<template>
  <ul class="nav__list">
    <li class="nav__item">
      <router-link class="nav__link" to="/">Home</router-link>
    </li>
    <li class="nav__item">
      <router-link class="nav__link" to="/cursos">Cursos</router-link>
    </li>
    <li class="nav__item">
      <router-link class="nav__link" to="/sobre">Sobre</router-link>
    </li>
    <li class="nav__item">
      <router-link class="nav__link" to="/contato">Contato</router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'NavList'
  }
</script>