<template>
  <div id="app">
    <slash-nav/>
    <router-view/>
    <slash-footer/>
  </div>
</template>

<script>
  import Nav from '@/components/common/Header'
  import Footer from '@/components/common/Footer'

  export default {
    name: 'App',

    components: {
      'slash-nav': Nav,
      'slash-footer': Footer
    }
  }
</script>